.container {
  display: flex;
  width: 300px; /* Set a fixed width for demonstration purposes */
  height: 200px; /* Set a fixed height for demonstration purposes */
  border: 1px solid black;
  /*flex-direction: row;    By default*/
}

.containertwo {
  display: flex;
  flex-direction: column;
  width: 300px; /* Set a fixed width for demonstration purposes */
  height: 200px; /* Set a fixed height for demonstration purposes */
  border: 1px solid black;
}

.item {
  flex: 1; /* Equivalent to flex-grow: 1; flex-shrink: 1; */
  border: 1px solid red;
  margin: 5px;
  padding: 10px;
}
